body {
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  text-align: center;
}

.container {
  width: 50% !important;
}
.modal-header,
h4,
.close {
  background-color: #5cb85c;
  color: white !important;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: #f9f9f9;
}

#game {
  display: none;
  border: 3px solid green;
}
